body{
    background-color: black;
}
h2{
    font-size: 30px;
    border: 2px solid aqua;
    border-radius: 10px;
    border-color: rgb(12, 17, 17);
    display: inline-block;
    background: linear-gradient(to right,rgb(0, 195, 255),rgb(0, 5, 149));
    color: azure;
    font-family: sans-serif;
    animation: move 1s forwards;
}
@keyframes move{
    
    from{
        transform: translateX(-500px);
    }
    
}
div
{
    text-align: center;
}
button
{
    border-radius: 10px;
    background: linear-gradient(to right,rgb(0, 242, 255),rgb(0, 0, 255));
    size: 20px;
}
p{
    color: azure;
    font-size: 20px;
    font-family:sans-serif;
}

.h
{
    font-family:sans-serif;
    text-align: center;
    width: 10%;;
    margin: auto;
}
.counter-box
{
    color: aliceblue;
    font-family: sans-serif;
}